.productFull {
    width: 100%;
    color: var(--color-dark);
}
.productFull__content {
    max-width: 1440px;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}
/* ----------- IMAGES -------------*/
.productFull__content__img {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
}
.productFull__content__img__mainImg {
    width: 100%;
    height: 600px;
    padding: 0 1rem;
    object-fit: cover;
    border-radius: 5px;
}
.productFull__content__img__icons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem 0;
}
.productFull__content__img__icons__icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
    cursor: pointer;
}





.productFull__content__texts {
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    min-width: 300px;
    max-width: 800px;
}
.productFull__content__texts__title__prices {
    font-size: 18px;
    margin: 2rem 0;
}
.productFull__content__texts__title__prices__priceBefore {
    font-size: 14px;
    text-decoration: line-through;
    color: var(--color-gray);
}

/* ---------------- COLORS ------------ */
.productFull__content__texts__colors {
    position: relative;
    display: flex;
    flex-direction: column;
}
.productFull__content__texts__colors__text span{
    font-weight: bold;
}
.productFull__content__texts__colors__items {
    display: flex;
    margin-top: 10px;
}
.productFull__content__texts__colors__items span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productFull__content__texts__colors__items span i{
    font-size: 18px;
    opacity: 0;
    position: relative;
    bottom: 10px;

    transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.productFull__color__selected i {
    opacity: 1 !important;
    color: white;
    bottom: 0 !important;
}

/* -------------- BUTTONS ----------------- */
.productFull__content__texts__buttons {
    margin: 3rem 0;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productFull__content__texts__buttons__size {
    display: flex;
    border: 1px solid #dbdbdb;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 150px;
    height: 50px;
    border-radius: 2px;
}
.productFull__content__texts__buttons__size p {
    font-weight: bold;
}
.productFull__content__texts__buttons__size select {
    border: 1px solid white;
    outline: none;
}
.productFull__content__texts__buttons__qnt {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    padding: 0 5px;
}
.productFull__content__texts__buttons__qnt i {
    cursor: pointer;
    transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}
.productFull__content__texts__buttons__qnt i:hover {
    color: var(--color-light-blue);
}
.productFull__content__texts__buttons__addCartBTN {
    height: 50px;
    width: 150px;
    background: var(--color-dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid var(--color-dark);
    padding: 0 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.productFull__content__texts__buttons__addCartBTN:hover {
    color: var(--color-dark);
    background: transparent;
}
.ProductFull_Btn_InCart {
    background: var(--color-light-blue);
    color: white;
    border-color: transparent;
}
.ProductFull_Btn_InCart:hover {
    background: crimson;
    color: white;
}
.productFull_NotCart {
    width: 100%;
}
.ProductFull_InCart {
    opacity: 0;
    width: 0;
}
/* ----------------- DESCRIPTION -------------- */
.productFull__content__texts__description {
    display: flex;
    flex-direction: column;
}
.productFull__content__texts__description__title {
    font-weight: bold;
    margin-bottom: 10px;
}
.productFull__content__texts__description__text {
    max-width: 700px;
    font-size: 15px;
}

/* ------------------ SHARE --------------------- */
.productFull__content__texts__share {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
.productFull__content__texts__share h4 {
    font-weight: bold;
    margin-bottom: 10px;
}
.productFull__content__texts__share__icons a {
    margin-right: 16px;
    cursor: pointer;
    font-size: 1.5rem;
}
.productFull__content__texts__share__icons i:hover {
    color: var(--color-light-blue);
}

@media only screen and (max-width: 768px) {
    .productFull__content {
        flex-direction: column;
        align-items: center;
    }
    .productFull__content__img {
        margin: 0 2rem;
    }
    .productFull__content__texts {
        margin-top: 1rem;
    }
    .productFull__content__texts__buttons {
        margin: 3rem auto 3rem auto;
        flex-direction: column;
    }
    .productFull__content__texts__buttons__qnt {
        margin: 2rem 0;
    }
    .productFull__content__texts__description, .productFull__content__texts__share {
        text-align: center;
    }
}