.searchPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchPage__container {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.searchPage__container__notFound {
    text-align: center;
    animation: 0.3s searchNotFoundAppear ease-out;
}
.searchPage__container__notFound a { 
    color: var(--color-light-blue);
}

@keyframes searchNotFoundAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}