.productPreviewBackground {
    background: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}
.productPreview {
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    border-radius: 5px;
    z-index: 99999;
}
.productPreview__content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productPreview__content__imgs__container {
    width: 40%;
    flex: 40%;
    height: 100%;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.productPreview__content__imgs__container img {
    width: 100%;
    object-fit: cover;
}
.productPreview__content__body {
    height: 100%;
    padding: 3rem;
    flex: 50%;
    color: var(--color-gray);
}
.productPreview__content__body__title {
    font-size: 3rem;
}
.productPreview__content__body__price {
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 500;
}
.productPreview__content__body__description {
    font-weight: 300;
}