.productPreviewBackground {
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}
.productPreview {
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1400px;
    height: 90%;
    max-height: 800px;
    border-radius: 5px;
    z-index: 99999;

    animation: .3s appearPreview ease-in-out;
}
.productPreview__content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes appearPreview {
    0% {
        top: 53%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
/* -------------- PRODUCT IMAGE ----------------- */
.productPreview__content__imgs__container {
    max-width: 500px;
    height: 100%;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.productPreview__content__imgs__container img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    object-fit: cover;
}

/* -------------- PRODUCT CONTENT ----------------- */
.productPreview__content__body {
    height: 100%;
    min-width: 300px;
    padding: 3rem;
    flex: 50%;
    color: var(--color-gray);
}
.productPreview__content__body__title {
    font-size: calc(1rem + 1.5vw);
    position: relative;
    top: 20px;
    opacity: 0;

    animation: .3s appearTitle ease-in-out forwards;
    animation-delay: .2s;
}
@keyframes appearTitle {
    0% {
        top: 20px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}


.productPreview__content__body__price {
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 500;
    position: relative;
    bottom: 20px;
    opacity: 0;

    animation: .3s appearPrice ease-in-out forwards;
    animation-delay: .4s;
}
@keyframes appearPrice {
    0% {
        bottom: 20px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.productPreview__content__body__description {
    font-weight: 300;
    max-height: 200px;
    overflow: auto;
    opacity: 0;

    animation: .5s appearDescription ease-in-out forwards;
    animation-delay: .6s;
}
@keyframes appearDescription {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.productPreview__line {
    margin: 1rem 0;
    opacity: 0;
    animation: .5s appearDescription ease-in-out forwards;
    animation-delay: .6s;
}


/* -------------- PRODUCT COLORS ----------------- */
.productPreview__content__body__colors {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: .5s appearDescription ease-in-out forwards;
    animation-delay: .6s;
}
.productPreview__content__body__colors__items {
    display: flex;
    margin-top: 1rem;
    width: 40%;
    min-width: 230px;
}
.productPreview__content__body__colors__items span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productPreview__content__body__colors__items span i{
    font-size: 18px;
    opacity: 0;
    position: relative;
    bottom: 10px;

    transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.productPreview__color__selected i {
    opacity: 1 !important;
    color: white;
    bottom: 0 !important;
}



/* -------------- INPUT BUTTONS ----------------- */
.productPreview__content__body__input__btns {
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: .5s appearDescription ease-in-out forwards;
    animation-delay: .6s;
}
.productPreview__content__body__input__btns__sizes {
    display: flex;
    border: 1px solid #dbdbdb;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 150px;
    height: 50px;
    border-radius: 2px;
}
.productPreview__content__body__input__btns__sizes p {
    font-weight: bold;
}
.productPreview__content__body__input__btns__sizes select {
    border: 1px solid white;
    outline: none;
}
.productPreview__content__body__input__btns__sizes span{
    font-weight: bold;
}
.productPreview__content__body__input__btns__qnt {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    padding: 0 5px;
}
.productPreview__content__body__input__btns__qnt i {
    cursor: pointer;
    transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}
.productPreview__content__body__input__btns__qnt i:hover {
    color: var(--color-light-blue);
}

/* -------------- BUY & ADD TO CART BUTTONS ----------------- */
.productPreview__content__body__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    opacity: 0;
    animation: .5s appearDescription ease-in-out forwards;
    animation-delay: .6s;
}
.productPreview__content__body__buttons button {
    padding: 10px 1rem;
    margin: 10px;
    font-size: calc(10px + 0.2vw);
    outline: none;
    cursor: pointer;
    position: relative;
    bottom: 0;
    width: 220px;
    transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.productPreview__content__body__buttons__addCart {
    background: transparent;
    color: var(--color-dark);
    border-radius: 3px;
    border: 1px solid var(--color-dark);
}
.PP_InCart {
    background: var(--color-dark);
    color: white;
}
.productPreview__content__body__buttons button:hover {
    bottom: 3px;
}
.productPreview__content__body__buttons__fullPage button {
    background: var(--color-dark);
    color: white;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
}


@media only screen and (max-width: 768px) {
    .productPreview__content {
        flex-direction: column;
    }
    .productPreview__content__imgs__container {
        width: 100%;
        margin: 0;
        display: none;
    }
}