.productPreviewBackground {
    background: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}
.productPreview {
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    border-radius: 5px;
    z-index: 99999;
}
.productPreview__content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productPreview__content__imgs__container {
    max-width: 500px;
    height: 100%;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.productPreview__content__imgs__container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.productPreview__content__body {
    height: 100%;
    padding: 3rem;
    flex: 50%;
    color: var(--color-gray);
}
.productPreview__content__body__title {
    font-size: 3rem;
}
.productPreview__content__body__price {
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 500;
}
.productPreview__content__body__description {
    font-weight: 300;
    max-height: 200px;
    overflow: auto;
}
.productPreview__line {
    margin: 1rem 0;
}
.productPreview__content__body__colors {
    display: flex;
    flex-direction: column;
}
.productPreview__content__body__colors__items {
    display: flex;
    margin-top: 1rem;
    width: 40%;
    justify-content: space-between;
}
.productPreview__content__body__colors__items span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productPreview__content__body__colors__items span i{
    font-size: 18px;
    opacity: 0;
    position: relative;
    bottom: 10px;

    transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.productPreview__color__selected i {
    opacity: 1 !important;
    color: white;
    bottom: 0 !important;
}
.productPreview__content__body__buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.productPreview__content__body__buttons button {
    padding: 10px 1rem;
    outline: none;
    cursor: pointer;
    position: relative;
    bottom: 0;
    width: 40%;
    transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.productPreview__content__body__buttons__buy {
    background: var(--color-blue);
    color: white;
    border-radius: 3px;
    border: 1px solid white;
}
.productPreview__content__body__buttons__addCart {
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-dark);
}
.productPreview__content__body__buttons button:hover {
    bottom: 3px;
}