.card {
  width: 300px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 5px #b4b4b4;
  position: relative;
  margin: 0 2rem;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.card__img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 3px;
}
.card__details {
  padding: 1rem;
}
.card__details__title {
  font-size: 22px;
  overflow-wrap: break-word;
  color: #333;
  max-width: 100%;
}
.card__details__price {
  font-weight: bold;
  font-size: 2.5rem;
  color: #333;
}
.card__details__title__type {
  background: none;
  margin: 1rem 0;
  padding: 5px;
  border-radius: 3px;
  color: #0085ff;
  font-weight: bold;
  border: 1px solid #dadada;
  cursor: pointer;
}
.card__details__cartBtn {
  padding: 10px 1rem;
  margin-top: 1rem;
  position: relative;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  bottom: 0;
  background: transparent;
  color: #0085ff;
  letter-spacing: 1px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #0085ff;
  cursor: pointer;
}
.card__details__cartBtn:hover {
  bottom: 2px;
}
.card__onCard {
  background: #0085ff;
  color: white;
}
.card__details__cartBtn__icon {
  font-size: 16px;
  margin-left: 10px;
}
