.card {
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0px 2px 5px #b4b4b4;
  transition: all 0.3s;
  position: relative;
  margin: 0 2rem;
}
.card__img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card__details__product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card__details__product__title,
.card__details__product__price {
  font-size: 22px;
  color: rgb(255, 102, 0);
}
.card__details__description {
  margin: 1rem 0;
}
.card__btns {
  display: flex;
  justify-content: space-between;
}
.card__btns__removeBtn {
  background: none;
  border: none;
  color: rgb(255, 102, 0);
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
}
.addCartBtn {
  cursor: pointer;
  width: 30px;
}
.card__btns__removeBtn:hover {
  background-color: rgb(255, 102, 0);
  color: white;
}
