.navbar5 {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar5__content {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
.navbar5__scrolled {
  background: #fff;
  box-shadow: 0 1px 3px var(--color-light-gray);
}

/* -------------------- CART --------------------*/
.navbar5__cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 320px;
  z-index: 99999;
  right: -25rem;
  background: white;
  height: 100vh;
  box-shadow: 0 2px 3px var(--color-light-gray);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.activeCart {
  right: 0px;
  opacity: 1;
  visibility: visible;
}
.navbar5__cart__header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar5__cart__header__icon h3 {
  font-weight: 500;
}
.navbar5__cart__header__icon {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.navbar5__cart__header__icon:hover {
  transform: rotate(90deg);
}
.navbar5__cart__products {
  display: flex;
  flex-direction: column;

}
.navbar5__cart__products__container {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid var(--color-light-gray);
}
.navbar5__cart__products__imgWrapper {
  width: 100px;
  height: auto;
  position: relative;
  flex: 40%;
}
.navbar5__cart__products__imgWrapper__removeicon {
  position: absolute;
  left: -10px;
  bottom: 0;
  background: crimson;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  opacity: .5;
  transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}
.navbar5__cart__products__container:hover .navbar5__cart__products__imgWrapper__removeicon {
  opacity: 1;
}
.navbar5__cart__products__imgWrapper img {
  width: 100%;
}
.navbar5__cart__products__texts {
  display: flex;
  padding-left: 1rem;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
}
.navbar5__cart__products__texts__info__subinfo {
  font-weight: bold;
  font-size: 12px;
}
.navbar5__cart__products__texts__quantityBtns {
  display: flex;
  align-items: center;
}
.navbar5__cart__products__texts__quantityBtns i {
  cursor: pointer;
  transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}
.navbar5__cart__products__texts__quantityBtns i:hover {
  color: var(--color-light-blue);
}
.navbar5__cart__products__texts__quantityBtns i:last-child {
  margin-left: 10px;
}
.navbar5__cart__products__texts__bottom {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
}
.navbar5__cart__products__texts__bottom__price {
  font-size: 16px;
}
.navbar5__cart__products__valorTotal {
  padding: 10px 2rem;
  text-align: right;
}
.navbar5__cart__footer {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  justify-content: center;
}
.navbar5__cart__footer button {
  padding: 3px 10px;
  font-size: 16px;
  background: var(--color-dark);
  color: white;
  outline: none;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.navbar5__cart__footer button:hover {
  background: transparent;
  color: var(--color-dark);
}

/* -------------------- LOGO & ITEMS --------------------*/
.navbar5__content__logo {
  color: var(--color-dark);
  letter-spacing: 2px;
}
.navbar5__content__logo span {
  font-weight: 700;
}
.navbar5__content__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 3px;
  font-weight: bold;
}
.navbar5__content__items__item {
  font-size: 12px;
  color: #333;
  margin: 1rem 2rem;
  transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.navbar5__content__items__item:hover,
.navbar5Active {
  color: white;
  color: var(--color-light-blue);
}
.navbar5__content__mobileMenu {
  display: none;
  font-size: 2rem;
  color: var(--color-light-blue);
}


/* -------------------- SEARCH INPUT --------------------*/
.navbar5__search {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
}
.navbar5__search__form {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar5__search__form input {
  padding: 5px 3rem 5px 5px;
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--color-light-gray);
  color: var(--color-dark);
  width: 100%;
  transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.navbar5__search__form input:focus {
  border-color: var(--color-light-blue);
}
.navbar5__search__form button {
  position: absolute;
  right: 2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.navbar5__search__form button i:hover {
  color: var(--color-light-blue);
}

/* -------------------- CART ICON --------------------*/
.navbar5__content__items__cartBtn {
  background: none;
  position: relative;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.navbar5__content__items__cartBtn__quantity {
  position: absolute;
  background-color: var(--color-light-blue);
  color: #fff;
  font-weight: bold;

  width: 18px;
  height: 18px;
  bottom: 18px;
  left: 18px;
}
.navCartIcon {
  font-size: 1.2rem;
  color: var(--color-dark);
}

/* -------------------- CART EMPTY --------------------*/
.navbar5__cart__empty {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  height: 100px;
}
.navbar5__cart__empty p {
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.navbar5__cart__empty p:hover {
  transform: rotate(180deg);
}
.navbar5__cart__empty h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}


/* -------------------- MOBILE MENU --------------------*/
.navbar5__content__mobileMenu__items {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid var(--color-light-gray);
  background-color: white;
}
.navbar5__content__mobileMenu__items__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar5__content__mobileMenu__items__texts__name {
  color: #222;
  max-width: 150px;
}
.navbar5__content__cart__total {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}


@media only screen and (max-width: 1024px) {
  .navbar5__content__items__item {
    margin: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar5__content {
    padding: 1rem;
  }
  .navbar5__content__mobileMenu {
    display: block;
  }
  .navbar5__content__items {
    position: fixed;
    flex-direction: column;
    width: 100%;
    top: 120px;
    left: 0;
    align-items: unset;
    background: #fff;
    box-shadow: 3px 1px 2px var(--color-light-gray);

    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  .nav5MobileActive {
    visibility: visible;
    height: 300px;
    opacity: 1;
  }
  .navbar5__content__items__item {
    padding: 10px 1rem;
  }
}
