@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --color-gray: #505050;
  --color-light-gray: #dbdbdb;
  --color-light-blue: #447ef2;
  --color-blue: #0554f2;
  --color-dark: #222;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body {
  min-height: 100vh;
}
.loading_screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}